<div class="center jumbotron ">
  <h1>Welcome to my page</h1>
    <h1>Piano App</h1>
      <p>
        This is page for pianists and piano teachers
        application.
      </p>
    <div class="signup">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
</div>
