<footer class="footer">
  <small>
    This <a href="">application </a>is produced
    by <a href="https://fr-fr.facebook.com/city.komaki/posts/1215975871778439/">T Inaba</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://hibiclassic.com/news/">Classical Music News</a></li>
    </ul>
  </nav>
</footer>
